<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DailyNotion</title>
  <link rel="stylesheet" href="style/style.css">
</head>
<body>
  <nav>
    <div class="logo">DailyMotion</div>
    <div class="nav-links">
      <a href="#">Home</a>
      <a href="#">Add</a>
      <a href="#">Edit</a>
    </div>
  </nav>

  <section class="table-container">
          <table>
      <tr>
        <th>Subject</th>
        <th>Time of Studied</th>
        <th>Material</th>
        <th>Start Time</th>
        <th>Finish Time</th>
        <th>Day</th>
        <th>Date</th>
        <th>Note</th>
      </tr>


      {% for item in notes %}
      <tr>
        <td>{{ item.subject }}</td>
        <td>{{ item.time_studied }}/</td>
        <td>{{ item.material }}</td>
        <td>{{ item.start_time }}</td>
        <td>{{ item.finish_time }}</td>
        <td>{{ item.day }}</td>
        <td>{{ item.date  }}</td>
        <td>{{ item.notes  }}</td>
      </tr>
      <tr>
      {% endfor %}
    </table>

   
  </section>
</body>
</html>
