<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DailyNotion</title>
  <link rel="stylesheet" href="style/style.css">
</head>
<body>
  <nav>
    <div class="logo">DailyMotion</div>
    <div class="nav-links">
      <a href="#">Home</a>
      <a href="#">Add</a>
      <a href="#">Edit</a>
    </div>
  </nav>

  <section class="table-container">
    <table>
      <tr>
        <th>Subject</th>
        <th>Time of Studied</th>
        <th>Material</th>
        <th>Start Time</th>
        <th>Finish Time</th>
        <th>Day</th>
        <th>Date</th>
        <th>Note</th>
      </tr>
      <tr>
        <td>Row 1</td>
        <td>Row 1</td>
        <td>Row 1</td>
        <td>Row 1</td>
        <td>Row 1</td>
        <td>Row 1</td>
        <td>Row 1</td>
      </tr>
      <tr>
        <td>Row 2</td>
        <td>Row 2</td>
        <td>Row 2</td>
        <td>Row 2</td>
        <td>Row 2</td>
        <td>Row 2</td>
        <td>Row 2</td>
      </tr>
    </table>
  </section>
</body>
</html>
