* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{

  background-color: color-mix(in srgb, rgb(44, 5, 5) 50%, rgb(4, 4, 79) 50%);
  height: 100vh;
  font-family: 'Times New Roman', Times, serif;
}
.Container{
  display: flex ;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-container{
  display: flex;
  width: 300px;
  flex-direction: row;

  flex-wrap: wrap;
  
  margin: 30px;
  padding: 10px;

  border: 1px solid #4C3BCF;
  border-radius: 10px;
}

.main-Info-data{
  display: flex;
  color: aliceblue;
  width: 40%;
  flex-direction: column;
  gap: 10px;
 list-style: none;
}

.nav{
  display: flex;

  flex-direction: row;

  margin: 30px;
  padding: 10px;

  border-radius: 10px;
  color: aliceblue;
  border: 1px solid #4C3BCF;
  background-color: #450473;

}

.logo{
  display: flex;
  width: 30%;
  
}

.search{
  display: flex;
  width: 40%;
  justify-content: center;
}

.search input{

  width: 90%;
  border-radius: 10px;
  padding: 5px 10px;
}

.search button{
  border-radius: 20px;
  border: 2px solid #4C3BCF;
  background-color: transparent;
  margin: 5px;
  width: 5%;
}

input:focus{
  border: 2px solid  #5a74ec;
  outline: none;  
}


.Options{
  display: flex;
  width: 30%;
  justify-content: right;


}
.Options button{
  width: 100%;

  border-radius: 20px;
  border: 2px solid #4C3BCF;
  background-color: transparent;

  color: aliceblue;

}
