* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{

  background-color: color-mix(in srgb, rgb(44, 5, 5) 50%, rgb(4, 4, 79) 50%);
  height: 100vh;
  font-family: 'Times New Roman', Times, serif;

}


 /* Card */

.Container{
  display: flex ;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-container{
  display: flex;
  width: 300px;
  flex-direction: row;

  flex-wrap: wrap;
  
  margin: 30px;
  padding: 10px;

  border: 1px solid #4C3BCF;
  border-radius: 10px;
}

.main-Info-data{
  display: flex;
  color: aliceblue;
  width: 40%;
  flex-direction: column;
  gap: 10px;
 list-style: none;
}


 /* Nav bar */
.nav-container{
  display: flex;
  width: 100%;
  background-color: #fff;

}
.nav{
  display: flex;

  margin: 30px;
  padding: 10px;

  border-radius: 10px;
  color: aliceblue;
  border: 1px solid #4C3BCF;
  background-color: #450473;


}

.logo{
  display: flex;
  width: 30%;
  
}

.search{
  display: flex;
  width: 40%;
  justify-content: center;
}

.search input{

  width: 90%;
  border-radius: 10px;
  padding: 5px 10px;
}

.search button{
  border-radius: 20px;
  border: 2px solid #4C3BCF;
  background-color: transparent;
  margin: 5px;
  width: 5%;
}

input:focus{
  border: 2px solid  #5a74ec;
  outline: none;  
}


.Options{
  display: flex;
  width: 30%;
  justify-content: right;


}
.Options button{
  width: 100%;

  border-radius: 20px;
  border: 2px solid #4C3BCF;
  background-color: transparent;

  color: aliceblue;

}


.Options button:hover {
  cursor: pointer;
}

.Options button:active {

  scale: 0.96;
}

/* Pop up addition */

.popUp-overlay{
  position: fixed;
  inset: 0; 
  
  display: flex;

  justify-content: center;
  align-items: center;
  
  
  background-color:  rgba(0, 0, 0, 0.5);
  z-index: 999;

}

.addNote{
  display: flex;
  flex-direction: column;

  padding: 10px;
  width: 300px;
  padding-bottom: 20px;

  border-radius: 20px;
  border: 1px solid #4C3BCF;
  background-color: #2d2573;
  color: #fff;
  
}

.addNote label{
  margin: 10px 0;

}

.close {
  position: relative;
  left: 90%;
  width: 10%;

  color: #000000;
  border: 1px solid #002eba;
  border-radius: 4px;
  background-color: #fff;
}

.add{
  position: relative;
  margin-top: 20px;
  color: #000000;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #ffffff;
}

.add:hover{
  background-color: #c4c2c2;
}

.add:active, .close:active{
  background-color: #9a9999;
  scale: 0.95;
}