* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  display: flex;
  background-color: color-mix(in srgb, rgb(44, 5, 5) 50%, rgb(4, 4, 79) 50%);
  height: 100vh;
  font-family: 'Times New Roman', Times, serif;
}


.card-container{
  display: flex;
  width: 300px;
  flex-direction: row;
  margin: 30px;
  padding: 10px;

  border: 1px solid color-mix(in srgb, rgb(113, 94, 94) 50%, rgb(3, 3, 212) 50%);
  border-radius: 10px;
}

.main-Info-data{
  display: flex;
  color: aliceblue;
  width: 100%;
  flex-direction: column;
  gap: 20px;
 list-style: none;
}